.react-tabs__tab{
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.react-tabs__tab:hover{
  border: 1px solid transparent;
  color:var(--clr-accent);
  transform: scaleX(1);
}

.react-tabs__tab--selected{
  border: 1px solid transparent;
  border-bottom: 2px solid var(--clr-accent);
  color:var(--clr-accent);
  transform: scaleX(1);
}